.left-column-frame {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 189px;
  object-fit: contain;
}
.right-column-frame {
  position: absolute;
  top: 140px;
  left: 35px;
  background-color: var(--color-limegreen);
  width: 189px;
  height: 16px;
  z-index: 1;
}
.photo-frame {
  height: 162px;
  flex: 1;
  position: relative;
}
.photo {
  width: 224px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  min-width: 224px;
}
.free-icon-linkedin-1384014-1 {
  height: 25px;
  width: 25px;
  position: relative;
  object-fit: contain;
  min-height: 25px;
}
.el-uiux {
  position: relative;
  text-decoration: underline;
  line-height: 121%;
  color: inherit;
}
.ui-u-x-designer-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 7px;
}
.free-icon-mail-6811690-1 {
  height: 25px;
  width: 25px;
  position: relative;
  object-fit: contain;
  min-height: 25px;
}
.elvirauiuxgmailcom {
  position: relative;
  text-decoration: underline;
  line-height: 121%;
  color: inherit;
  white-space: nowrap;
}
.elvira-name-text,
.ui-u-x-designer-label1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ui-u-x-designer-label1 {
  flex: 1;
  gap: 8px;
  min-width: 145px;
}
.elvira-name-text {
  align-self: stretch;
  gap: var(--gap-mid);
}
.elvira-kerova,
.uiux {
  margin: 0;
  position: relative;
  line-height: 125%;
  font-weight: 400;
  font-family: inherit;
}
.elvira-kerova {
  font-size: inherit;
}
.uiux {
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.learning-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  font-size: 40px;
}
.elvira-frame,
.header-frame {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.header-frame {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 47px;
  min-width: 216px;
}
.elvira-frame {
  width: 569px;
  flex-direction: row;
  align-items: flex-end;
  gap: 13px;
  font-size: var(--font-size-lg);
  color: var(--black);
}
.h1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 121%;
  font-weight: 500;
  font-family: inherit;
}
.right-column-rectangle {
  position: absolute;
  top: 45px;
  left: 2px;
  background-color: var(--color-limegreen);
  width: 14px;
  height: 10px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.left-column-rectangle {
  height: 76px;
  width: 34px;
  position: relative;
}
.h3,
.ui-design-skills {
  position: relative;
  line-height: 145%;
}
.h3 {
  margin: 0;
  font-size: var(--font-size-xl);
  line-height: 125%;
  font-weight: 500;
  font-family: inherit;
}
.t-g-u-t-g-u-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.ui {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 145%;
}
.hobbies-frame,
.left-column-rectangle-parent,
.reading-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.reading-frame {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-10xs);
}
.hobbies-frame,
.left-column-rectangle-parent {
  flex-direction: row;
}
.hobbies-frame {
  flex: 1;
  min-width: 251px;
}
.left-column-rectangle-parent {
  align-self: stretch;
  row-gap: 20px;
}
.vaccination-service-frame {
  position: absolute;
  top: 45px;
  left: 2px;
  background-color: var(--color-limegreen);
  width: 14px;
  height: 10px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.anon-cooperative-immunity-logo {
  height: 76px;
  width: 34px;
  position: relative;
}
.div,
.h31 {
  position: relative;
  line-height: 145%;
}
.h31 {
  margin: 0;
  font-size: var(--font-size-xl);
  line-height: 125%;
  font-weight: 500;
  font-family: inherit;
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.ui1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 145%;
}
.interface-design-skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.anon-cooperative-immunity-logo-parent,
.experience-months-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.anon-cooperative-immunity-logo-parent {
  align-self: stretch;
  row-gap: 20px;
}
.anon-cooperative-immunity-fram {
  width: 423px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.frame-child {
  position: absolute;
  top: 45px;
  left: 1.5px;
  background-color: var(--color-limegreen);
  width: 14px;
  height: 10px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.rectangle-wrapper {
  height: 76px;
  width: 34px;
  position: relative;
}
.div1,
.h32 {
  position: relative;
  line-height: 145%;
}
.h32 {
  margin: 0;
  font-size: var(--font-size-xl);
  line-height: 125%;
  font-weight: 500;
  font-family: inherit;
}
.group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.ui2 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 145%;
}
.frame-group,
.frame-parent,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  flex-direction: column;
  gap: var(--gap-10xs);
}
.frame-parent,
.frame-wrapper {
  flex-direction: row;
}
.frame-parent {
  align-self: stretch;
  row-gap: 20px;
}
.frame-item {
  position: absolute;
  top: 45px;
  left: 1.5px;
  background-color: var(--color-limegreen);
  width: 14px;
  height: 10px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.rectangle-container {
  height: 76px;
  width: 34px;
  position: relative;
}
.div2,
.h33 {
  position: relative;
  line-height: 145%;
}
.h33 {
  margin: 0;
  font-size: var(--font-size-xl);
  line-height: 125%;
  font-weight: 500;
  font-family: inherit;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.ui3 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 145%;
}
.frame-container,
.frame-div,
.frame-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1 {
  flex-direction: column;
  gap: var(--gap-10xs);
}
.frame-container,
.frame-div {
  flex-direction: row;
}
.frame-container {
  align-self: stretch;
  row-gap: 20px;
}
.anon-cooperative-immunity-fram1,
.exprience-frame,
.march-april-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.anon-cooperative-immunity-fram1 {
  width: 420px;
  flex-direction: column;
  gap: var(--gap-21xl);
}
.exprience-frame,
.march-april-frame {
  align-self: stretch;
}
.march-april-frame {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-21xl);
  font-size: var(--font-size-sm);
  color: var(--black);
}
.exprience-frame {
  flex-direction: column;
  gap: 45px;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.h11 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 121%;
  font-weight: 500;
  font-family: inherit;
}
.frame-icon {
  height: 533px;
  width: 10px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 533px;
}
.div3,
.h34 {
  position: relative;
  line-height: 145%;
}
.h34 {
  margin: 0;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: inherit;
  white-space: pre-wrap;
}
.collaborative-immunity-frames {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.div4 {
  width: 454px;
  height: 21px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 145%;
  display: none;
  flex-shrink: 0;
  max-width: 100%;
}
.collaborative-immunity-frames-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.div5,
.h35 {
  position: relative;
  line-height: 145%;
}
.h35 {
  margin: 0;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: inherit;
}
.reading-frame1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
  max-width: 100%;
}
.div6 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 145%;
}
.reading-frame-parent {
  width: 454px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.div7,
.h36 {
  position: relative;
  line-height: 145%;
}
.h36 {
  margin: 0;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: inherit;
}
.parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.div8 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 145%;
}
.frame-parent2 {
  width: 454px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.div9,
.h37 {
  position: relative;
  line-height: 145%;
}
.h37 {
  margin: 0;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: inherit;
}
.parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.div10 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 145%;
}
.frame-parent3 {
  width: 454px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.div11,
.h38 {
  position: relative;
  line-height: 145%;
}
.h38 {
  margin: 0;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: inherit;
}
.parent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.div12 {
  width: 454px;
  height: 46px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 145%;
  display: none;
  max-width: 100%;
}
.frame-parent4 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.experience-frame,
.expirience,
.frame-parent4,
.month-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.month-frame {
  flex: 1;
  flex-direction: column;
  gap: 30px;
  max-width: calc(100% - 20px);
}
.experience-frame,
.expirience {
  max-width: 100%;
}
.experience-frame {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-3xs);
  font-size: var(--font-size-sm);
  color: var(--black);
}
.expirience {
  width: 560px;
  flex-direction: column;
  gap: 32px;
}
.h12 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 121%;
  font-weight: 500;
  font-family: inherit;
}
.frame-inner {
  height: 16px;
  flex: 1;
  position: relative;
  background-color: var(--color-limegreen);
  min-width: 330px;
  max-width: 100%;
}
.parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 35px;
  max-width: 100%;
}
.div13 {
  position: relative;
  line-height: 121%;
}
.image-184-icon {
  align-self: stretch;
  height: 196px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.parent5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  min-width: 191px;
}
.div14 {
  position: relative;
  line-height: 121%;
}
.image-184-icon1 {
  align-self: stretch;
  height: 196px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.parent6 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-mini);
  min-width: 191px;
}
.cv-kerova-elvira,
.frame-parent5,
.hobby-frame,
.parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hobby-frame {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 2px 0 0;
  gap: 57px;
  font-size: var(--font-size-sm);
}
.cv-kerova-elvira,
.frame-parent5 {
  flex-direction: column;
}
.frame-parent5 {
  width: 647px;
  gap: 21px;
  max-width: 100%;
}
.cv-kerova-elvira {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  padding: 82px 84px 295px 174px;
  box-sizing: border-box;
  gap: 80px;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 750px) {
  .elvira-kerova {
    font-size: var(--font-size-13xl);
    line-height: 40px;
  }
  .h1,
  .h11,
  .h12 {
    font-size: var(--font-size-7xl);
    line-height: 31px;
  }
}
@media screen and (max-width: 675px) {
  .photo {
    flex: 1;
  }
  .elvira-frame,
  .left-column-rectangle-parent {
    flex-wrap: wrap;
  }
  .exprience-frame {
    gap: 22px;
  }
  .expirience {
    gap: 16px;
  }
  .parent4 {
    gap: var(--gap-mid);
  }
  .hobby-frame {
    gap: 28px;
  }
  .cv-kerova-elvira {
    gap: var(--gap-21xl);
    padding-left: 87px;
    padding-right: 42px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .elvira-name-text {
    flex-wrap: wrap;
  }
  .elvira-kerova {
    font-size: var(--font-size-5xl);
    line-height: 30px;
  }
  .uiux {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .header-frame {
    gap: 23px;
  }
  .h1 {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .h3,
  .h31 {
    font-size: var(--font-size-base);
    line-height: 20px;
  }
  .anon-cooperative-immunity-logo-parent {
    flex-wrap: wrap;
  }
  .anon-cooperative-immunity-fram {
    gap: var(--gap-xl);
  }
  .h32 {
    font-size: var(--font-size-base);
    line-height: 20px;
  }
  .frame-parent {
    flex-wrap: wrap;
  }
  .h33 {
    font-size: var(--font-size-base);
    line-height: 20px;
  }
  .frame-container {
    flex-wrap: wrap;
  }
  .anon-cooperative-immunity-fram1,
  .march-april-frame {
    gap: var(--gap-xl);
  }
  .h11 {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .h12,
  .h34,
  .h35,
  .h36,
  .h37,
  .h38 {
    font-size: var(--font-size-base);
    line-height: 23px;
  }
  .h12 {
    font-size: var(--font-size-lgi);
  }
  .cv-kerova-elvira {
    gap: var(--gap-xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
